<div class = "container">
  <div class = "row">
    <div class = "col-md-4 col-md-offset-4 signup-login-box">  
      <h2>Sign up</h2>
      <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div>
          <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
          <ul>
            <% @user.errors.full_message.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div>
          <%= f.label "email" %><br>
          <%= f.text_field "email", class: "form-control" %>
        </div>
        <div>
          <%= f.label "firstname" %><br>
          <%= f.text_field "firstname", class: "form-control" %>
        </div>
        <div>
          <%= f.label "lastname" %><br>
          <%= f.text_field "lastname", class: "form-control" %>
        </div>
        <div>
          <%= f.label "password" %><br>
          <%= f.password_field "password", class: "form-control" %>
        </div>
        <div> 
          <%= f.label "password_confirmation" %><br>
          <%= f.password_field "password_confirmation", class: "form-control" %>
        </div>
        <%= f.submit "Submit", class: "btn btn-default" %>
      <% end %>
  </div>
</div>