<div class = "container">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <h1>Edit User</h1>
      <%= form_for [:admin,@user] do |f| %>
        <% if @user.errors.any? %>
          <div>
            <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
            <ul>
              <% @user.errors.full_message.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div>
          <%= f.label "email" %><br>
          <%= f.text_field "email", class:'form-control' %>
        </div>
        <div>
          <%= f.label "firstname" %><br>
          <%= f.text_field "firstname", class:'form-control' %>
        </div>
        <div>
          <%= f.label "lastname" %><br>
          <%= f.text_field "lastname", class:'form-control' %>
        </div>
        <div>
          <%= f.label "password" %><br>
          <%= f.password_field "password", class:'form-control' %>
        </div>
        <div> 
          <%= f.label "password_confirmation" %><br>
          <%= f.password_field "password_confirmation", class:'form-control' %>
        </div>
        <div> 
          <%= f.label "is_admin" %><br>
          <%= f.check_box "is_admin" %>
        </div>
        <div><%= f.submit "Submit" %></div>
      <% end %>
    </div>
  </div>
</div>