<div id = "admin-management-box">
  <h1>Admin Management - User Index</h1>

  <%= paginate @users %>

  <%= link_to " Create New User", new_admin_user_path, class: "fa fa-plus-square-o"%>

  <table class = "table table-hover users-table" style="width:100%">
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Created Date</th>
      <th>Admin?</th>
      <th class="centered-cell">Edit User</th>
      <th class="centered-cell">Delete User</th>
      <th class="centered-cell">Switch to User</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.is_admin %></td>
        <td class="centered-cell">
 
          <%= link_to "", edit_admin_user_path(user), class: "fa fa-pencil-square-o"%>

        </td>
        <td class="centered-cell">
          <%= link_to "", admin_user_path(user), method: "delete", class: "fa fa-times"%>

        </td>
        <td class="centered-cell">
          <%= form_tag(admin_ghosts_path, method: :post) do %>
            <%= hidden_field_tag "user_id", user.id %>
            <button type="submit" class="btn btn-default no-border">
              <i class="fa fa-users"></i> 
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>